@import "./button.css";
@import './header.css';
@import "./button-icon.css";
@import './hero.css';
@import './wrapper.css';
@import './menu.css';
@import './message.css';
@import './button-arrow.css';
@import './testimonial.css';
@import './proyects.css';
@import './footer.css';
@import './social.css';
:root{
    --fontBase:'Poppins', sans-serif;
    --fontSecondary:'Oxygen', sans-serif;
    --headline1:bold 95px/153px var(--fontBase);
    --headline2:bold 59px/95px var(--fontBase);
    --headline3:bold 48px/77px var(--fontBase);
    --headline4:bold 34px/55px var(--fontBase);
    --headline5:bold 24px/38px var(--fontBase);
    --body1: 16px/25px var(--fontBase);
    --body2: 14px/22px var(--fontBase);
    --button:bold  14px/22px var(--fontBase);
    --caption: 12px/19px var(--fontBase);
    --mesaggeXl:34px/55px var(--fontSecondary);
    --gradient:radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    --primary:#310A90;
    --secondary:#42E2B8;
    --white:white;
}
body{
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--primary);
    margin:0;
}

